/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.amplify-card.unauthSimulation-card {
	width: 27.69rem;
	position: absolute;
	top: 1.62rem;
	overflow: hidden;
	z-index: 4;

	.card-close {
		position: relative;
		z-index: 1;
		cursor: pointer;
		fill: var(--grey-color);
	}

	.start-simulation-container {
		position: absolute;
		top: -6rem;
		display: flex;
		justify-content: center;
		flex-direction: column;

		.simulation-icon {
			width: 80%;
		}

		.text-container {
			position: relative;
			top: -7rem;
			justify-content: center;
			flex-direction: column;
			gap: 0.8rem;
			padding: 0 2rem;
			.simulation-title {
				color: var(--grey-color);
			}

			.primary-icon {
				path {
					fill: var(--primary-color);
				}
			}
		}
	}
	.simulation-container {
		.simulation-header {
			border-bottom: 1px solid var(--grey-color-3);
		}
		.back-icon {
			fill: var(--grey-color);
		}
		.bell-icon-container {
			cursor: pointer;
			&.bell-active,
			&:hover {
				background-color: var(--primary-alpha-light-color);
				path {
					fill: var(--primary-color);
				}
			}
			.notification-bubble {
				width: 8px;
				height: 8px;
				background-color: orange;
				border-radius: 50%;
				display: flex;
				position: absolute;
				top: 6px;
				right: 9px;
			}
		}
		.bell-icon {
			path {
				fill: var(--grey-color);
			}
		}

		.routes-notification-container {
			> button {
				width: 40%;
			}
		}
		.tracking-icon-container {
			flex-direction: column;
			align-items: center;
			gap: 6px;
			> .geofence-icon {
				rect {
					fill: var(--primary-color);
				}
			}

		 .bubble-icon {
				width: 4px;
				height: 4px;
				background-color: var(--primary-color);
				border-radius: 50%;
			}
		}

		.bus-container {
			align-items: center;
			margin-top: 1.5rem;
			> p {
				width: 80%;
			}
		}

		.select-box {
			.amplify-select-wrapper {
				background-color: red;
			}
		}
	}
}
